%p
  %strong Name of this configuration:
  = h shutter_config.name rescue "[No name]"
%p
  %strong Window Config:
  = h shutter_config.window_config.name rescue "[No window config assigned]"
%p
  %strong Shutter Type:
  = h shutter_config.shutter_type.name rescue "[No type chosen]"
%p
  %strong Width:
  = h shutter_config.width
%p
  %strong Height
  = h shutter_config.height
%p
  %strong Sashes number:
  = h shutter_config.sashes_number
%p
  %strong Cost:
  = number_to_currency shutter_config.cost, :unit => "&euro;"
%p
  %strong Description:
  = h shutter_config.description
%br
%p
  = link_to_if !shutter_config.order.nil? , 'Back to Order', seller_order_path(shutter_config.order)
%br
