%p
  = f.label :product_id
  = f.select :product_id, select_options_for(Product), :include_blank => :true
%p
  = f.label :window_config_id
  = f.select :window_config_id, select_options_for(WindowConfig), :include_blank => :true
%p
  = f.label :description
  = f.text_area :description
%p
  = f.label :cost
  = f.text_field :cost
