%p
  Part of order:
  = @order.name rescue "[No Order]"
%br
%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :product_id
  = f.select :product_id, select_options_for(Product)
%p
  Chose associated window configuration from the same order:
  = f.select :window_config_id, @order.window_configs.uniq.map{|w| [w.name, w.id]}, :include_blank => :true
%p
  = f.label :description
  = f.text_area :description
%p
  = f.label :cost
  = f.text_field :cost
%br
