%h1= "Create new Product Config"
= error_messages_for :product_config

- form_for([:seller, @product_config]) do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag 'Create Product Config'

= link_to 'Back to list', seller_product_configs_path
