%h1 Listing additional features


- form_tag additional_features_path, :method=>'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag :search, :name => nil

%table
  %th Name
  %th Description
  = render :partial => 'short_additional_feature', :collection => @short_additional_features

= will_paginate @short_additional_features

%p
  = link_to "Back to Materials Page", materials_path