%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :description
  = f.text_area :description
%p
  = f.label :thickness
  = f.text_field :thickness
%p
  = f.label :meter_price
  = f.text_field :meter_price
