%p
  %strong Customer:
  = f.select :customer_id, select_options_for(Customer)
  |
  = link_to 'Create new Customer', new_admin_user_path
%p
  %strong Employee:
  = f.select :employee_id, select_options_for(User)
  |
  = link_to 'Create new Employee', new_admin_user_path
%p
  %strong Order status:
  = f.select :order_status_id, select_options_for(OrderStatus)
%p
  %strong Percentual discount:
  = f.text_field :percentual_discount
