%h1 Listing window features

- form_tag window_features_path, :method=>'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag :search, :name => nil

%table
  %th Name
  %th Description
  %th Type
  = render :partial => 'short_window_feature', :collection => @short_window_features

= will_paginate @short_window_features

%p
  = link_to "Back to Materials Page", materials_path