%p
  Part of order:
  = @window_config.order.name rescue "[No Order]"
%br
%p
  = f.label :name
  = f.text_field :name
%br
- WindowFeature.types.each do |type|
  = type
  = select_tag 'window_config[window_feature_ids][]', window_features_for_select(type, @window_config.window_features.find_by_type(type))
  %br
%br
%p
  = f.label :glass_type_id
  = f.select :glass_type_id, select_options_for(GlassType), :include_blank => :true
%p
  = f.label :glass_color_id
  = f.select :glass_color_id, select_options_for(GlassColor), :include_blank => :true
%p
  = f.label :handle_type_id
  = f.select :handle_type_id, select_options_for(HandleType), :include_blank => :true
%p
  Structure and sashes number
  = f.select :sash_structure_id, select_options_for(SashStructure), :include_blank => :true
%p
  = f.label :height
  = f.text_field :height
%p
  = f.label :width
  = f.text_field :width
%p
  = f.label :cover_joint_int
  = f.text_field :cover_joint_int
%p
  = f.label :cover_joint_ext
  = f.text_field :cover_joint_ext
%p
  Medium rail height
  = f.text_field :height_medium_rail
%p
  = f.label :cost
  = f.text_field :cost
%p
  Additional information (quality):
  = f.text_field :finish_quality
%br
