%h1= "Create new Window Config"
= error_messages_for :window_config

- form_for([@order, @window_config], :url => seller_order_window_config_path(@order, @window_config)) do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag 'Create Window Config'
%br
= link_to 'Back to Order', seller_order_path(@order)
|
= link_to 'Back to Orders list', seller_orders_path
