%h1 Listing Orders
%p
  = link_to 'Create new Order', new_seller_order_path
%hr
%h2= "My Orders (#{@curent_user_orders.size rescue 0}):"
%p
  = render :partial  => 'order', :collection => @curent_user_orders, :locals => { :view => 'index' }
%hr
%h2= "Requested Orders (#{@requested_orders.size}):"
%p
  = render :partial  => 'order', :collection => @requested_orders, :locals => { :view => 'index' }