%h1= "Create new Order"
= error_messages_for :order

- form_for ([:seller, @order]) do |f|
  = render :partial => 'form', :locals => { :f => f, :view => :new }
  = submit_tag 'Create Order'

= link_to 'Back to list', seller_orders_path
