%h1 
  Edit Profile of
  =h @customer.name

= error_messages_for :customer

- form_for :customer, :url => update_customer_path do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :login
    = f.text_field :login
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :address
    = f.text_area :address
  %p
    = f.label :phone_no
    = f.text_field :phone_no

  %p= submit_tag 'Update'

  %hr
= error_messages_for :change_password
- form_for :change_password, :url => change_password_path do |f|
  %p
    =f.label :old_password
    =f.password_field :old_password
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p= submit_tag 'Change Password'