%p
  %strong Name
  = additional_feature.name
%p
  %strong Description
  = additional_feature.description
%p
  %strong Unit price
  = number_to_currency additional_feature.unit_price, :unit => "&euro;"
%p
  %strong Meter price  
  = number_to_currency additional_feature.meter_price, :unit => "&euro;"
%p
  = link_to 'Edit', edit_admin_additional_feature_path(additional_feature)
  |
  = link_to 'Destroy', admin_additional_feature_path(additional_feature), :confirm => 'Are you sure?', :method => :delete
