%h3= "Order number #{o.id}"
%strong Status:
= o.order_status.name
%h4 Window Configs:
- o.order_items.each do |item|
  = item.item.to_s
  %strong Quantity
  = item.quantity
  |
  = link_to 'Show',order_window_config_path(o.id,item.item.id)
  - if (o.is_saved?)
    = link_to 'Edit',edit_order_window_config_path(o.id,item.item.id)
  %br
%hr{:width => "50%"}
%strong Estimated total cost:
= o.estimated_price
%br
%strong Description of order:
= o.description
%br
