/= error_messages_for :order, :object => @order
- @order.order_items.each do |item|
  = error_messages_for :order_item, :object => item

%h3 New Order
%h5 Your saved configuration are listed below, choose configuration with given quantity
- form_for(@order) do |f|
  %h4 Window Configurations
  - current_user.window_configs.each do |c|
    = render :partial => 'window_configs/window_config', :locals => { :wc => c}
    %br
    %strong choose:
    = check_box_tag("winconf[ids][]",c.id,false)
    %strong Quantity:
    = text_field_tag("quantities[ids][#{[c.id]}]","0")
  %hr
  = f.submit 'Create'
%hr
= link_to 'Back', orders_path
