%p
  %strong Type
  = h event.event_type.name
%p
  %strong Description
  = h event.description
%p
  %strong Added by
  = h event.user.name rescue "[No User]"
%p
  %strong Order
  = h event.order.name rescue "[No Order]"
%p
  %strong Added on
  = event.added_date
%p
  %strong Due on
  = event.due_date

%p
  = event_link('Edit', 'edit', event, @order) if view == 'show'
  = event_link('Show', 'show', event, @order) if view == 'index'
%br
