%p
  %strong Description
  = h event.description
%p
  %strong Added by
  = h event.user.name
%p
  %strong Order number
  = event.order_id
%p
  %strong Added on
  = event.added_date
%p
  %strong Due on
  = event.due_date

%p
  = link_to 'Edit', edit_seller_event_path(event)
