%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :address
  = f.text_area :address
%p
  = f.label :phone_no
  = f.text_field :phone_no
%p
  = f.label :login
  = f.text_field :login
%p
  = f.label :email
  = f.text_field :email
