%p
  %strong Glass Type:
  = f.select :glass_type_id, select_options_for(GlassType)
%p
  %strong Handle Type:
  = f.select :handle_type_id, select_options_for(HandleType)
%p
  %strong Sash number and Structure Type:
  = f.select :handle_type_id, select_options_for(HandleType)
%p
  %strong Glass Color:
  = f.text_field :glass_color
%p
  %strong Height:
  = f.text_field :height
%p
  %strong Width:
  = f.text_field :width
%p
  %strong Cover joints int:
  = f.text_field :cover_joints_int
%p
  %strong Cover joints ext:
  = f.text_field :cover_joint_ext
%p
  %strong Medium Rail height:
  = f.text_field :height_medium_rail
%p
  %strong Window Cost:
  = f.text_field :window_cost
%p
  %strong Additional information:
  = f.text_field :finish_quality