%br
%p
  %strong Name
  =h customer.name
%p
  %strong Login
  =h customer.login
%p
  %strong E-mail
  = mail_to customer.email
%p
  %strong Phone number
  =h customer.phone_number
%p
  %strong Address
  =h customer.address
%p
  %strong Type
  =h customer.type
%p
  %strong Description
  =h customer.description
- if view == 'show'
  %br
  %p
    Orders:
    %br
    - customer.orders.each do |order|
      %small= link_to order.name, seller_order_path(order)
      %br
  %br
%p
  - if view == 'index'
    = link_to 'Show', seller_customer_path(customer)
    |
  = link_to 'Edit', edit_seller_customer_path(customer)
  |
  = link_to 'Destroy', seller_customer_path(customer), :confirm => 'Are you sure?', :method => :delete
%br
