%h1 Administration panel
%br
%ul
  %li
    = link_to 'Additional features', admin_additional_features_path
    |
    = link_to 'New', new_admin_additional_feature_path
  %li
    = link_to 'Dependencies', admin_dependencies_path
    |
    = link_to 'New', new_admin_dependency_path
  %li
    = link_to 'Glass colors', admin_glass_colors_path
    |
    = link_to 'New', new_admin_glass_color_path
  %li
    = link_to 'Glass types', admin_glass_types_path
    |
    = link_to 'New', new_admin_glass_type_path
  %li
    = link_to 'Handle types', admin_handle_types_path
    |
    = link_to 'New', new_admin_handle_type_path
  %li
    = link_to 'Orders', admin_orders_path
    |
    = link_to 'New', new_admin_order_path
  %li
    = link_to 'Order Statuses', admin_order_statuses_path
    |
    = link_to 'New', new_admin_order_status_path
  %li
    = link_to 'Structures', admin_structures_path
    |
    = link_to 'New', new_admin_structure_path
  %li
    = link_to 'Users', admin_users_path
    |
    = link_to 'New', new_admin_user_path
  %li
    = link_to 'Window features', admin_window_features_path
    |
    = link_to 'New', new_admin_window_feature_path
  %li
    = link_to 'Window configs', admin_window_configs_path
    |
    = link_to 'New', new_admin_window_config_path
  %li
    = link_to 'Products', admin_products_path
    |
    = link_to 'New', new_admin_product_path
  %li
    = link_to 'Product groups', admin_product_groups_path
    |
    = link_to 'New', new_admin_product_group_path
  %li
    = link_to 'Product configs', admin_product_configs_path
    |
    = link_to 'New', new_admin_product_config_path
  %li
    = link_to 'Call Statuses', admin_call_statuses_path
    |
    = link_to 'New', new_admin_call_status_path
  %li
    = link_to 'Calls', admin_calls_path
    |
    = link_to 'New', new_admin_call_path
  %li
    = link_to 'Event Types', admin_event_types_path
    |
    = link_to 'New', new_admin_event_type_path
  %li
    = link_to 'Events', admin_events_path
    |
    = link_to 'New', new_admin_event_path
  %li
    = link_to 'Shutter Configs', admin_shutter_configs_path
    |
    = link_to 'New', new_admin_shutter_config_path
  %li
    = link_to 'Shutter Types', admin_shutter_types_path
    |
    = link_to 'New', new_admin_shutter_type_path
