%h1 Administration panel

%ul
  %li
    = link_to 'Additional features', admin_additional_features_path
    |
    = link_to 'New', new_admin_additional_feature_path
  %li
    = link_to 'Dependencies', admin_dependencies_path
    |
    = link_to 'New', new_admin_dependency_path
  %li
    = link_to 'Glass colors', admin_glass_colors_path
    |
    = link_to 'New', new_admin_glass_color_path
  %li
    = link_to 'Glass types', admin_glass_types_path
    |
    = link_to 'New', new_admin_glass_type_path
  %li
    = link_to 'Handle types', admin_handle_types_path
    |
    = link_to 'New', new_admin_handle_type_path
  %li
    = link_to 'Orders', admin_orders_path
    |
    = link_to 'New', new_admin_order_path
  %li
    = link_to 'Structures', admin_structures_path
    |
    = link_to 'New', new_admin_structure_path
  %li
    = link_to 'Users', admin_users_path
    |
    = link_to 'New', new_admin_user_path
  %li
    = link_to 'Window features', admin_window_features_path
    |
    = link_to 'New', new_admin_window_feature_path
  %li
    = link_to 'Window configs', admin_window_configs_path
    |
    = link_to 'New', new_admin_window_config_path
  %li
    = link_to 'Product groups', admin_product_groups_path
    |
    = link_to 'New', new_admin_product_group_path


