- form_for :window_config,@winconfig, :url => {:controller=> 'window_configs',:action => 'create'} do |f|
  - @winconfig.window_features.each do |wf|
    %p
      = wf.name
  %p
    = f.label :height
    = f.text_field :height
  %p
    = f.label :width
    = f.text_field :width

  %p= f.submit 'Send'