= flash[:msg]
%h3 Choose configuration of new window
- form_for :window_config, :url => {:action => 'new'} do |f|
  - for id_f in session[:wconf]
    - feature = WindowFeature.find(id_f)
    #chosen_features
      = feature.name
      = feature.description
  #feature_select
    = collection_select :feature,:id,@features,:id,:long_name if @features.size>0
  %br
  = submit_tag 'Next' if @features.size > 0

= render :partial => 'confdetails' if @features.size==0
#navbar 
  = link_to 'Back','new?step=back'
  = link_to 'Clear', new_window_config_path    
  




