= @msg
%h3 Created configuration of window
%h4 Window Features:
- @winconfig.window_features.each do |fc|
  %p
    = fc.to_s
%h4 Window Configuration
%p
  %strong Height:
  = @winconfig.height
%p
  %strong Width:
  = @winconfig.width
%p
  %strong Sash Structure:
  = @winconfig.sash_structure.name
%p
  %strong Glass Color:
  = @winconfig.glass_color.name
%p
  %strong Handle Type:
  = @winconfig.handle_type.name

%p
  %strong Cost approximation:
  = @winconfig.cost
= link_to 'Edit',edit_window_config_path(@winconfig) unless @order
= link_to 'Edit',edit_order_window_config_path(@order.id,@winconfig.id) if (@order && @order.is_saved?)
|
= link_to 'Back',@order if @order
= link_to 'Back',window_configs_path unless @order