%p
  %strong Before feature
  = dependency.before_feature.type
  = dependency.before_feature.name
%p
  %strong After feature
  = dependency.after_feature.type
  = dependency.after_feature.name
%p
  %strong Price
  = dependency.price
