%p
  = f.label :feature_one_id
  = f.select :feature_one_id, select_options_for_window_features, { :include_blank => 'None', :selected => @dependency.feature_one_id }
%p
  = f.label :feature_two_id
  = f.select :feature_two_id, select_options_for_window_features, { :include_blank => 'None', :selected => @dependency.feature_two_id }
%p
  = f.label :price
  = f.text_field :price
